.site-footer {
    /* background-color: #2c3e50; */
    background: linear-gradient(180deg, #e1f737, #edb15c 60%);
    color: black;
    /* padding: 2px; */
    /* margin: 0px; */
    width: 100%;
    height: auto;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
    /* margin-top: 2px; */
    font-weight: 600;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}

.footer-section {
    /* flex: 1; */
    width: 25%;
    height: auto;
    /* margin: 0px; */
    /* padding: 0px; */
    box-sizing: border-box;
}

.footer-section h3 {
    color: #1abc9c;
    /* margin: 0px; */
    /* padding: 0px; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-weight: 800;
}

.footer-section p,
.footer-section ul {
    font-weight: 600;
}

.footer-section ul {
    list-style: none;
}
.footer-section ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #3498db;
}

.social-links {
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
    width: auto;
}

.social-links a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 2px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #3498db;
}

.footer-section.contact p i {
    color: #1abc9c;
}

.footer-bottom {
    text-align: center;
    margin-top: 2px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.9em;
    color: black;
    font-weight: 600;
}
